body {
  margin: 0;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  display: flex;
  width: 100svw;
}
.panel {
  height: 15rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
  border: solid 1px rgb(152, 149, 149);
  border-radius: 10px;
  background-color: rgb(227, 209, 209);
  overflow-y: auto;
  
}
.panel-absolute {
  position: absolute;
  z-index: 999;
}
.container-item {
  border: solid 1px black;
  border-radius: 8px;
  background-color: rgb(2, 43, 7);
  color: rgb(217, 206, 206);
  margin: 10px 0;
  padding: 0.5rem;
  width: 10rem;
  text-align: center;
}
.container-item:hover {
  background-color: white;
  color: rgb(32, 26, 26);
  transform: scale(1.09);
}
/*temporary until we get actual map */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.place {
  background-color: #dacdcd;
  border: 2px solid #ddd;
  padding: 10px 0;
  font-size: 1.2em;
  color: #333;
  border-radius: 10px;
}

.game {
  min-height: 100px;
}
h3 {
  margin: 0 2px;
}

.info {
  margin: 10px 10px;
}

.info-part {
  margin: 2px 10px;
  padding: 0;
}
.info-part h4,
.info-part p {
  margin: 8px 0;
  padding: 0;
}
