.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  padding: 0 6px;
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
}
.search {
  border-radius: 15px;
  border: solid 1px black;
  width:10rem;
  height:1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.searchIcon{
  padding:0  8px;

}
.iconContainer {
  border-radius: 50%;
  border: solid 1px black;
  padding:  4px 6px;
}
