header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: relative;
  background: none; /* حذف الخلفية */
  box-shadow: none;
}

/* وسط الصفحة من فوق */
.site-title {
  position: absolute;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
  margin: 0;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  margin: 0;
  padding: 0;
}

nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav li a:hover {
  text-decoration: underline;
}
